body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #856767;
}

header {
    background-color: #1c5269;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #6c97aa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #917767; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.project a:hover {
    background-color: #bd9a7c; 
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1c5269;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
